{
    "singleQuote": true,
    "printWidth": 100,
    "jsxSingleQuote": true,
    "useTabs": true,
    "arrowParens": "avoid",
    "tabWidth": 4,
    "bracketSameLine": true,
    "trailingComma": "none"
}
