@use '@utils/variables' as vars;
@use '@utils/breakpoints' as br;

.button {
	display: flex;
	align-items: center;
	gap: clamp(6px, 0.52vw, 10px);
	border-radius: 10rem;
	padding-block: 1.5rem;
	padding-inline: 1.6rem;
	font-weight: 500;
	font-size: clamp(15px, 1vw, 18px);
	line-height: 100%;
	color: #000;
	background-color: #fff;
	fill: vars.$dark-blue;
	&:hover {
		background-color: vars.$dark-blue;
		color: #fff;
		fill: #fff;
	}

	@include br.large-mobile {
		padding-block: 1.7rem;
		padding-inline: 2rem;
	}
}
.icon {
	transition-property: fill, transform;
	transition-duration: vars.$dt;
	width: clamp(20px, 1.3vw, 24px);
}
