@use '@utils/variables' as vars;
@use '@utils/breakpoints' as br;
@use '@utils/mixins' as mix;

.icon {
	transition-property: transform, translate;
	transition-duration: vars.$dt;
	width: clamp(20px, 1.3vw, 24px);
}
.logo-link {
	border-radius: clamp(80px, 5.2vw, 100px);
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		background: linear-gradient(
			96.47deg,
			rgba(246, 163, 190, 0.5) 0.53%,
			rgba(56, 56, 56, 0.5) 18.66%
		);
		border-radius: inherit;
	}
	&__container {
		@include mix.flex-center;
		position: relative;
		z-index: 1;
		background: #0c0e15;
		padding-block: clamp(11px, 0.7vw, 14px);
		padding-inline: clamp(20px, 1.25vw, 24px);
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
	&__icon {
		width: clamp(65px, 4.1vw, 80px);
	}
}
.arrow-button {
	pointer-events: all;
	width: 56px;
	height: 56px;
	background: #ffffff1f;
	backdrop-filter: blur(144px);
	border-radius: 50%;
	fill: #fff;
	@include mix.moving-button(x);
	&:disabled {
		opacity: 0.3;
	}
	&:last-child {
		transform: rotate(180deg);
		&:hover {
			transform: rotate(180deg) scale(1.1);
		}
	}
	.icon {
		width: 42.9%;
	}
}
.close-button {
	align-self: flex-end;
	width: clamp(56px, 3.8vw, 72px);
	height: clamp(56px, 3.8vw, 72px);
	aspect-ratio: 1;
	margin-bottom: min(27.5px, 1.5vw);
	@include mix.flex-center;
	&:hover {
		transform: scale(1.25);
	}
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: clamp(6px, 0.52vw, 10px);
	border-radius: 10rem;
	padding-block: 1.5rem;
	padding-inline: 1.6rem;
	font-weight: 500;
	font-size: clamp(15px, 1vw, 18px);
	line-height: 100%;
	color: #000;
	background-color: #fff;
	fill: vars.$dark-blue;
	overflow: hidden;
	&:hover {
		background-color: vars.$pink;
		color: #fff;
		fill: #fff;
		transform: scale(1.05);
		.button__box > * {
			&:first-child {
				transform: translate(50%, -150%) scaleY(2);
			}
			&:last-child {
				transform: none;
			}
		}
	}
	@include br.large-mobile {
		padding-block: max(17px, 0.9vw);
		padding-inline: max(20px, 1vw);
	}
	&__box {
		display: grid;
		place-content: center;
		overflow: hidden;
		border-radius: 50%;
		& > * {
			grid-area: 1/1/2/2;
			transition-timing-function: cubic-bezier(0.3, 0, 0.5, 1);
			&:last-child {
				transform: translate(-50%, 150%) scaleY(2);
			}
		}
	}
}
