@use '@utils/variables' as vars;
@use '@utils/breakpoints' as br;
@use '@utils/mixins' as mix;

@mixin blur-bottom {
	bottom: 0;
	width: 120%;
	left: 50%;
	height: 50%;
	filter: blur(30px);
	transform: translate(-50%, 20%);
	object-fit: cover;
}

.history {
	@include mix.section-elevation;
	font-weight: 500;
	padding: clamp(15px, 1.1vw, 20px);
	display: grid;
	gap: clamp(40px, 3.4vw, 65px);
	padding-top: min(52px, 2.7vw);
	grid-template-columns: 1fr 1.45fr;
	position: relative;

	&::-webkit-scrollbar {
		display: none;
	}
	@media screen and (max-width: 900px) {
		grid-template-rows: 20px auto auto;
		grid-template-columns: 1fr;
	}
	@media screen and (max-width: vars.$bp-small-mobile) {
		padding-top: clamp(15px, 1.1vw, 20px);
	}
	.section-label {
		position: absolute;
		top: 50%;
		left: 50%;
		// margin-left: min(1.7vw, 32px);
		// margin-top: min(52px, 2.7vw);

		@include br.small-mobile {
			// margin-left: 0;
		}
	}
	&--1 .history__grid {
		@media screen and (min-width: 900px) {
			grid-template-columns: 1.5fr 1fr 1fr;
			grid-template-areas:
				'card-1 card-3 card-4'
				'card-2 card-3 card-4';
		}
		& > *:first-child,
		& > *:nth-child(2) {
			@media screen and (min-width: 900px) {
				aspect-ratio: 766 / 390;
			}
		}
	}
	&--2 .history__grid {
		@media screen and (min-width: 900px) {
			grid-template-columns: 1fr 1fr 1.5fr;
			grid-template-areas:
				'card-1 card-2 card-3'
				'card-1 card-2 card-4';
		}
		& > *:last-child,
		& > *:nth-child(3) {
			@media screen and (min-width: 900px) {
				aspect-ratio: 766 / 390;
			}
		}
	}
	&__grid {
		display: grid;
		gap: 11px;
		counter-reset: card;
		@media screen and (min-width: vars.$bp-small-mobile) {
			grid-column: span 2;
		}
		@media screen and (min-width: 900px) {
			grid-auto-rows: 20vw;
		}
		@media screen and (max-width: 900px) {
			@include mix.grid-scroll(max(30%, 300px));
			overflow-y: clip;
			grid-row: 3/4;
		}
	}
	&__card {
		@media screen and (max-width: 900px) {
			aspect-ratio: 302/432;
		}
		&:first-child .history__card-blur,
		&:nth-child(2) .history__card-blur {
			@media screen and (min-width: vars.$bp-small-mobile) {
				width: 200%;
				height: 100%;
				top: 50%;
				right: 5%;
				transform: rotate(-5deg);
			}
			@media screen and (max-width: vars.$bp-small-mobile) {
				filter: blur(50px);
			}
		}
		&:nth-child(3) .history__card-blur {
			@include blur-bottom;
		}
		&:last-child {
			background-color: #1f2431;
		}
		@media screen and (min-width: 900px) {
			&:first-child {
				grid-area: card-1;
			}
			&:nth-child(2) {
				grid-area: card-2;
			}
			&:nth-child(3) {
				grid-area: card-3;
			}
			&:last-child {
				grid-area: card-4;
			}
		}
		&-gradient {
			position: absolute;
			width: 100%;
			height: 50%;
			bottom: 0;
			left: 0;
			background: linear-gradient(0deg, #070c19 0%, #242835 70%, transparent 100%);
		}

		// &:nth-child(3),
		// &:last-child {
		// 	@media screen and (min-width: 900px) {
		// 		grid-row: 1 / span 2;
		// 	}
		// }
		// &:last-child {
		// 	@media screen and (min-width: 900px) {
		// 		grid-column: 3/4;
		// 	}
		// }
		// &:nth-child(3) {
		// 	@media screen and (min-width: 900px) {
		// 		grid-column: 2 / 3;
		// 	}
		// }
		&-blur {
			content: '';
			position: absolute;
			filter: blur(144px);
			z-index: 1;
			transition: opacity vars.$dt;

			@media screen and (max-width: vars.$bp-small-mobile) {
				@include blur-bottom;
			}
		}
		&-text {
			color: rgba(#fff, 0.75);
		}
		&-image {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__top {
		display: flex;
		flex-direction: column;
		gap: clamp(20px, 1.7vw, 32px);
		@media screen and (min-width: 900px) {
			grid-column: 2 / 3;
		}
		@media screen and (max-width: 900px) {
			grid-row: 2/3;
		}
	}
	&__text {
		max-width: 40ch;
	}
	&__title {
		letter-spacing: -0.04em;
		color: #ffffff80;
		@include mix.title-62;
		@include br.small-mobile {
			letter-spacing: 0;
		}
	}
}
