@use '@utils/variables' as vars;
@use '@utils/breakpoints' as br;
@use '@utils/mixins' as mix;

@keyframes rotateGradient {
	to {
		--gradient-angle: calc(96.47deg + 360deg);
	}
}

@property --gradient-angle {
	syntax: '<angle>';
	initial-value: 96.47deg;
	inherits: false;
}
.history {
	@include mix.section-elevation;
	overflow: hidden;
	font-weight: 500;
	padding: clamp(15px, 1.1vw, 20px);
	display: grid;
	gap: clamp(40px, 3.4vw, 65px);
	padding-top: min(52px, 2.7vw);
	grid-template-columns: 1fr 1.45fr;
	position: relative;

	@media screen and (min-width: 900px) {
		height: calc(100vh - 20px);
		max-height: 1200px;
		grid-auto-rows: max-content 1fr;
	}

	&::-webkit-scrollbar {
		display: none;
	}
	@media screen and (max-width: 900px) {
		grid-template-rows: auto auto auto;
		grid-template-columns: 1fr;
	}
	@media screen and (max-width: vars.$bp-small-mobile) {
		padding-top: clamp(15px, 1.1vw, 20px);
	}
	.section-label {
		display: flex;
		// margin-left: min(1.7vw, 32px);
		// margin-top: min(52px, 2.7vw);
		@media screen and (min-width: 900px) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(2);
			color: #fff;
		}
		@media screen and (max-width: 900px) {
			position: relative;
			justify-self: flex-start;
			div {
				z-index: 1;
			}
			span {
				z-index: 2;
			}
		}
		@include br.small-mobile {
			// margin-left: 0;
		}
		span {
			padding-block: clamp(12px, 0.9vw, 16px);
			padding-inline: 16px;
			border-radius: inherit;
			background-color: vars.$dark-blue-alt;
		}
		&__container {
			position: absolute;
			top: -1px;
			left: -1px;
			width: calc(100% + 2px);
			height: calc(100% + 2px);
			background: linear-gradient(
				var(--gradient-angle),
				rgba(246, 163, 190, 0.5) 0.53%,
				rgba(56, 56, 56, 0.5) 18.66%
			);
			border-radius: inherit;
			z-index: -1;
			animation: rotateGradient 5s linear infinite;
		}
	}
	&--1 .history__grid {
		@media screen and (min-width: 900px) {
			grid-template-columns: 1.5fr 1fr 1fr;
			grid-template-areas:
				'card-1 card-3 card-4'
				'card-2 card-3 card-4';
		}
		& > *:first-child,
		& > *:nth-child(2) {
			@media screen and (min-width: 900px) {
				// aspect-ratio: 766 / 390;
			}
		}
		& > *:nth-child(3) .section-card__blur--bottom img {
			object-fit: cover;
			object-position: top;
		}
	}
	&--2 .history__grid {
		@media screen and (min-width: 900px) {
			grid-template-columns: 1fr 1fr 1.5fr;
			grid-template-areas:
				'card-1 card-2 card-3'
				'card-1 card-2 card-4';
		}
		& > *:first-child,
		& > *:nth-child(2) {
			img {
				object-fit: cover;
			}
		}
		& > *:last-child,
		& > *:nth-child(3) {
			@media screen and (min-width: 900px) {
				// aspect-ratio: 766 / 390;
			}
		}
	}
	&__grid {
		display: grid;
		gap: 11px;
		counter-reset: card;
		@media screen and (min-width: vars.$bp-small-mobile) {
			grid-column: span 2;
		}
		@media screen and (max-width: 900px) {
			@include mix.grid-scroll(max(30%, 300px));
			overflow-y: clip;
			grid-row: 3/4;
		}
	}
	&__card {
		@media screen and (max-width: 900px) {
			aspect-ratio: 302/432;
		}
		&:last-child {
			background-color: #1f2431;
		}
		@media screen and (min-width: 900px) {
			&:first-child {
				grid-area: card-1;
			}
			&:nth-child(2) {
				grid-area: card-2;
			}
			&:nth-child(3) {
				grid-area: card-3;
			}
			&:last-child {
				grid-area: card-4;
			}
		}
		&-gradient {
			position: absolute;
			width: 100%;
			height: 50%;
			bottom: 0;
			left: 0;
			background: linear-gradient(0deg, #070c19 0%, #242835 70%, transparent 100%);
		}

		// &:nth-child(3),
		// &:last-child {
		// 	@media screen and (min-width: 900px) {
		// 		grid-row: 1 / span 2;
		// 	}
		// }
		// &:last-child {
		// 	@media screen and (min-width: 900px) {
		// 		grid-column: 3/4;
		// 	}
		// }
		// &:nth-child(3) {
		// 	@media screen and (min-width: 900px) {
		// 		grid-column: 2 / 3;
		// 	}
		// }
		&-blur {
			content: '';
			position: absolute;
			// filter: blur(144px);
			z-index: 1;
			transition: opacity vars.$dt;
		}
		&-text {
			color: rgba(#fff, 0.75);
		}
		&-image {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__top {
		display: flex;
		flex-direction: column;
		gap: clamp(20px, 1.7vw, 32px);
		@media screen and (min-width: 900px) {
			grid-column: 2 / 3;
		}
		@media screen and (max-width: 900px) {
			grid-row: 2/3;
		}
	}
	&__text {
		max-width: 40ch;
	}
	&__title {
		letter-spacing: -0.04em;
		color: #ffffff80;
		@include mix.title-62;
		@include br.small-mobile {
			letter-spacing: 0;
		}
	}
}
