@use '@utils/variables' as vars;
@use '@utils/breakpoints' as br;
@use '@utils/mixins' as mix;

.history-modal {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content 1fr max-content;
	align-items: center;
	gap: clamp(12px, 1.3vw, 24px);
	@media screen and (max-width: 500px) {
		grid-template-columns: 1fr;
	}
	&__dialog {
		--bs-modal-width: max(38%, 500px);
		@media screen and (max-width: 500px) {
			--bs-modal-margin: 0;
		}
	}
	.section-card {
		position: relative;
		video {
			z-index: 1;
			opacity: 1;
			transform: none !important;
		}
		.section-card__content {
			z-index: 4;
		}
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			z-index: 4;
			background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.4));
		}
	}
	.arrow-button {
		@media screen and (max-width: 500px) {
			position: absolute;
			bottom: 0;
			z-index: 10;
			height: calc(100% - 74px);
			border-radius: 0;
			width: 30%;
			opacity: 0;
			&:last-of-type {
				right: 0;
			}
		}
		&:last-of-type {
			order: 3;
			transform: rotate(180deg);
		}
	}
	.section-card {
		color: #fff;
		pointer-events: none;

		@media screen and (max-width: 500px) {
			.section-card__content {
				padding: 24px;
			}
		}
		&::after {
			display: none;
		}
	}
	&__slider {
		width: 100%;
		height: 100%;
		place-self: stretch;
		display: grid;
		position: relative;
	}
	&__close {
		align-self: flex-end;
	}
	&__top {
		z-index: 4;
		align-self: flex-start;
		display: flex;
		flex-direction: column;
		padding: 12px;
	}
	&__bars {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 2px;
		gap: 3px;
	}
	&__bar {
		background: rgba(#ffffff, 0.5);
		border-radius: 3px;
		overflow: hidden;
		position: relative;
		&--inner {
			background: #ffffff;
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			transform: scaleX(0);
			transform-origin: left;
		}
	}
	&__container {
		display: grid;
		aspect-ratio: 502/893;
		border-radius: clamp(12px, 1.3vw, 24px);
		overflow: hidden;
		@media screen and (max-width: 500px) {
			height: 100vh;
			aspect-ratio: initial;
		}
		& > * {
			grid-area: 1/1/2/2;
		}
	}
	&__close {
		@include mix.flex-center;
		padding: 12px;
	}
	&__content {
		--bs-modal-bg: transparent;
	}
}
