@use '@utils/variables' as vars;
@use '@utils/breakpoints' as br;
@use '@utils/mixins' as mix;

.link-span {
	grid-area: 1/1/2/2;
	transition: transform 0.4s cubic-bezier(0.31, 0.13, 0.11, 1);
	&:first-child {
		transform: translateY(120%);
	}
}

a:has(span.link-span) {
	display: grid;
	overflow: hidden;
	&:hover {
		.link-span:last-child {
			transform: translateY(-120%);
		}
		.link-span:first-child {
			transform: translateY(0);
		}
	}
}
