@use '@utils/variables' as vars;
@use '@utils/breakpoints' as br;
@use '@utils/mixins' as mix;

.popup {
	display: flex;
	flex-direction: column;
	padding-bottom: clamp(32px, 3.2vw, 60px);
	background-color: vars.$dark-blue-alt;
	color: #fff;
	border-radius: 20px;
	@media screen and (max-width: 500px) {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	& > *:not(:first-child) {
		padding-inline: clamp(24px, 3.2vw, 60px);
	}
	&__box {
		display: flex;
		flex-direction: column;
		transition: opacity calc(vars.$dt + 0.3s), transform calc(vars.$dt + 0.3s);
	}
	&__content {
		border: none;
		background-color: transparent;
	}
	&__container {
		display: grid;
		&.active .popup__box {
			opacity: 0;
			pointer-events: none;
			transform: translateY(-10%);
		}
		&:not(.active) {
			.popup__success {
				opacity: 0;
				transform: translateY(10%);
				pointer-events: none;
			}
		}
		& > * {
			grid-area: 1/1/2/2;
		}
	}
	&__success {
		place-self: center;
		transition: opacity calc(vars.$dt + 0.3s), transform calc(vars.$dt + 0.3s);
		display: flex;
		flex-direction: column;
		align-items: center;

		&-content {
			position: relative;
			background: vars.$dark-blue-alt;
			border-radius: 20px;
			color: #fff;
			padding-inline: clamp(24px, 3.2vw, 60px);
			padding-block: clamp(48px, 6.6vw, 120px);
			@media screen and (max-width: 500px) {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
			.close-button {
				position: absolute;
				right: 14px;
				top: 14px;
			}
		}
		&-icon {
			width: 128px;
		}
		.button {
			width: 62%;
			padding-block: 18px;
		}
	}
	&__header {
		margin-bottom: clamp(32px, 2.6vw, 48px);
		display: flex;
		flex-direction: column;
		gap: clamp(16px, 1.3vw, 24px);
		text-align: center;
		align-items: center;
		.text-default {
			max-width: 25ch;
		}
		&-title {
			font-weight: 500;
			font-size: clamp(32px, 2.5vw, 48px);
			line-height: 110.00000000000001%;
		}
	}
}
