@use '@utils/variables' as vars;
@use '@utils/breakpoints' as br;
@use '@utils/mixins' as mix;

.section-label {
	font-size: clamp(14px, 1vw, 18px);
	line-height: 100%;
	color: rgba(#fff, 0.6);
	border-radius: 100px;
}
.main .section-card {
	&:has(video) {
		&:hover {
			@include br.min-large-mobile {
				&::before {
					opacity: 1;
					transform: none;
				}
				.section-card__content {
					transform: translateY(20px);
					opacity: 0;
				}
				video {
					opacity: 1;
					transform: scale(1.05);
					& ~ .section-card__image {
						opacity: 0;
					}
				}
				picture:last-of-type {
					opacity: 0;
				}
			}
		}
	}
}
swiper-slide.section-card {
	@include br.large-mobile {
		.section-card__content,
		.section-card__blur--bottom {
			display: none;
		}
	}
}
.section-card {
	counter-increment: card;
	position: relative;
	border-radius: clamp(12px, 1.3vw, 24px);
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	@media screen and (max-width: 900px) {
		aspect-ratio: 302/432;
	}
	&:last-child {
		cursor: pointer;
	}
	&::after {
		pointer-events: none;
		@include mix.card-counter;
	}
	video {
		pointer-events: none;
		border-radius: inherit;
		overflow: hidden;
	}
	picture {
		border-radius: inherit;
		overflow: hidden;
	}
	&:hover .section-card__image {
		transform: scale(1.05);
	}
	&:hover .section-card__button {
		transform: scale(1.05);
		background: #fff;
		color: vars.$dark-blue;
		fill: vars.$dark-blue;
		.button__box > * {
			&:first-child {
				transform: translate(50%, -150%) scaleY(2);
			}
			&:last-child {
				transform: none;
			}
		}
	}
	&__blur {
		@include mix.card-blur;
		&--bottom {
			@include mix.card-blur-init;
			@include mix.card-blur-bottom;
		}
	}
	&__video {
		position: absolute;
		inset: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: opacity vars.$dt, transform vars.$dt;
	}
	&__title {
		font-weight: 600;
		font-size: clamp(26px, 2.6vw, 48px);
		line-height: 90%;
		letter-spacing: -0.02em;
	}
	&__image {
		transition: opacity vars.$dt, transform vars.$dt;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		img {
			object-fit: cover;
		}
	}
	&__content {
		transition: opacity vars.$dt, transform vars.$dt;
		display: flex;
		flex-direction: column;
		gap: clamp(10px, 1.3vw, 24px);
		z-index: 2;
		padding: clamp(16px, 1.7vw, 32px);
	}
	&__button {
		font-size: clamp(14px, 1vw, 18px);
		display: flex;
		align-items: center;
		gap: clamp(8px, 0.6vw, 10px);
		line-height: 1;
		background: #ffffff47;
		align-self: flex-start;
		padding-block: clamp(12px, 0.8vw, 15px);
		padding-inline: clamp(16px, 1vw, 19px);
		fill: #fff;
		padding-left: clamp(20px, 1.3vw, 24px);
		border-radius: 100px;
	}
}
