@use '@utils/variables' as vars;

// Others
@mixin card-counter {
	@include flex-center;
	content: counter(card);
	position: absolute;
	right: clamp(5px, 1vw, 18px);
	top: clamp(5px, 1vw, 18px);
	font-weight: 700;
	font-size: clamp(14px, 1vw, 18px);
	width: clamp(30px, 1.9vw, 36px);
	height: clamp(30px, 1.9vw, 36px);
	aspect-ratio: 1;
	z-index: 1;
	border-radius: 50%;
	background: #ffffff1f;
	backdrop-filter: blur(144px);
}
@mixin card-blur($blur: 144px) {
	content: '';
	position: absolute;
	filter: blur($blur);
	z-index: 1;
	width: 200%;
	height: 100%;
	top: 50%;
	right: 5%;
	transform: rotate(-5deg);
	@media screen and (max-width: vars.$bp-small-mobile) {
		bottom: 0;
		width: 120%;
		left: 50%;
		height: 50%;
		filter: blur(30px);
		transform: translate(-50%, 20%);
		object-fit: cover;
	}
}
@mixin section-elevation {
	border-radius: clamp(20px, 2.4vw, 44px);
	background-color: vars.$dark-blue-alt;
}
@mixin title-62 {
	font-weight: 500;
	font-size: clamp(30px, 3.3vw, 62px);
	line-height: 100%;
}

// helper to compute translate arguments
@function _translate($axis, $distance) {
	@if $axis == x {
		@return ($distance, 0);
	} @else {
		@return (0, $distance);
	}
}

// 1. Define the mixin
@mixin moving-button($axis: y, $distance: 200%) {
	display: grid;
	place-content: center;
	overflow: hidden;

	& > * {
		grid-area: 1/1/2/2;
		transition-property: transform, opacity;
		transition-timing-function: cubic-bezier(0.18, 0.71, 0.11, 1);
		transition-duration: 0.8s;

		// initial off-screen state for the “second” element
		&:last-of-type {
			$t: _translate($axis, $distance);
			translate: nth($t, 1) nth($t, 2);
			opacity: 0;
			// scale in the same direction you’re translating
			@if $axis == x {
				transform: scaleX(2);
			} @else {
				transform: scaleY(2);
			}
		}
	}

	// hover toggles the two children
	&:hover {
		transform: scale(1.1);

		& > *:last-of-type {
			translate: 0 0;
			opacity: 1;
			transform: none;
		}
		& > *:first-of-type {
			$t: _translate($axis, $distance * -1);
			translate: nth($t, 1) nth($t, 2);
			opacity: 0;
			@if $axis == x {
				transform: scaleX(2);
			} @else {
				transform: scaleY(2);
			}
		}
	}
}

// Layout related
@mixin grid-center {
	display: grid;
	place-items: center;
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin grid-scroll($grid-width, $snap-align: start) {
	grid-template-columns: initial;
	grid-auto-flow: column;
	grid-auto-columns: $grid-width;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	&::-webkit-scrollbar {
		display: none;
	}
	& > * {
		scroll-snap-align: $snap-align;
	}
}
@mixin flex-scroll($snap-align: start) {
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	&::-webkit-scrollbar {
		display: none;
	}
	& > * {
		scroll-snap-align: $snap-align;
	}
}
@mixin flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
