@use '@utils/variables' as vars;
@use '@utils/breakpoints' as br;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: calc(100vw / (1920 / 10));

	// @include br.large-desktop {
	// 	font-size: calc(100vw / (1920 / 11));
	// }

	@include br.desktop {
		font-size: calc(100vw / (1920 / 11.2));
	}

	@include br.small-desktop {
		font-size: calc(100vw / (1920 / 12));
	}

	@media screen and (max-width: 1100px) {
		font-size: calc(100vw / (1920 / 15));
	}

	@include br.large-mobile {
		font-size: 62.5%;
	}

	@include br.small-mobile {
		font-size: calc(100vw / (375 / 10));
	}
}
body {
	font-family: vars.$font-gilroy;
	background-color: vars.$black;
	color: #fff;
}
a {
	text-decoration: none;
	color: inherit;
	transition-property: color, background-color, border-color, fill;
	transition-duration: vars.$dt;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}
img {
	width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: inherit;
	font: inherit;
	transition-property: color, background-color, border-color, transform, outline, fill;
	transition-duration: vars.$dt;
}
textarea {
	resize: none;
}
input,
textarea {
	font: inherit;
	color: inherit;
	border: none;
	outline: none;
	&::placeholder {
		color: inherit;
		opacity: 0.8;
	}
}

/* Lenis */
html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
.lenis.lenis-stopped {
	overflow: hidden;
}
.lenis.lenis-smooth iframe {
	pointer-events: none;
}
