@use '@utils/variables' as vars;
@use '@utils/mixins' as mix;
@use '@utils/breakpoints' as br;

@keyframes header-animate {
	from {
		transform: scale(1.1);
		opacity: 0;
	}
}

.header {
	$preloader-duration: 3s;
	padding-block: 1.6rem;
	padding-inline: clamp(6px, 0.625vw, 12px);
	margin-inline: vars.$spacing;
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: vars.$black;
	transition: background-color vars.$dt;
	animation: header-animate 1s backwards $preloader-duration;
	@include br.large-mobile {
		padding: 0;
	}
	@media (max-width: vars.$bp-ipad-pro) {
		align-items: center;
	}
	&__left,
	&__right {
		display: flex;
	}
	&__left {
		align-items: center;
		gap: clamp(20px, 2.95vw, 56px);
	}
	&__tel {
		color: #fff;
		fill: rgba(#fff, 0.5);
		background: #ffffff1f;
		&:hover {
			background: #fff;
			color: vars.$dark-blue;
			fill: vars.$dark-blue;
		}
	}
	&__action {
		position: relative;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		fill: #fff;
		stroke: #fff;
		@media (min-width: vars.$bp-ipad-pro) {
			display: none;
		}
		&--menu {
			&.active {
				.header__action-container > *:first-child {
					transform: scale(0);
				}
				.header__action-container > *:last-child {
					transform: scale(1);
				}
			}
			.header__action-container {
				display: grid;
				place-items: center;
				& > * {
					grid-area: 1/1/2/2;
					&:last-child {
						transform: scale(0);
					}
				}
			}
		}
		&-container {
			position: relative;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			background: vars.$black;
			z-index: 1;
			@include mix.flex-center;
		}
		&::before {
			content: '';
			position: absolute;
			top: -1px;
			left: -1px;
			width: calc(100% + 1.5px);
			height: calc(100% + 1.5px);
			background: linear-gradient(
				96.47deg,
				rgba(246, 163, 190, 0.5) 0.53%,
				rgba(56, 56, 56, 0.5) 18.66%
			);
			border-radius: inherit;
		}
	}
	&__right {
		gap: clamp(8px, 0.52vw, 10px);
	}
	&__link {
		font-size: clamp(14px, 1vw, 18px);
		font-weight: 500;
	}
	&__nav {
		display: flex;
		gap: clamp(10px, 2.25vw, 42px);
		@media (max-width: vars.$bp-ipad-pro) {
			display: none;
		}
	}
	.button {
		@media (max-width: vars.$bp-ipad-pro) {
			display: none;
		}
	}
}
